@import "../../../../../external-css/common";

.input-fields-group {
  width: 400px;
  margin: auto;
  padding: 0 15px 15px;
}
.field-wrapper {
  @extend %reg-fields;
}
.title {
  color: $main-blue;
  font-size: 30px;
  text-align: center;
}
.required {
  @extend %required-tip;
}
.button {
  @extend %yellow-button;
  margin: auto;
}
.button-wrap {
  margin-top: 20px;
}
.disabled-button {
  @extend %disabled-button;
}

@media screen and (max-width: 500px) {
  .input-fields-group {
    width: 100%;
  }
}
