<app-modal-wrapper [emitter]="closeModal">
  <form class="input-fields-group" [formGroup]="setPasswordForm" (submit)="setPassword()">
    <h4 class="title">Set password</h4>
    <div class="field-wrapper">
      <input type="password" formControlName="password" class="field">
      <span class="label">Password*</span>
      <span class="error" [ngClass]="{'error-shown': showCurrentError('password', 'required')}">This field is required</span>
      <span class="error" [ngClass]="{'error-shown': showCurrentError('password', 'minlength')}">Password must be at least 8 characters</span>
    </div>
    <div class="field-wrapper">
      <input type="password" formControlName="confirm-password" class="field" appDisableControl [disableControl]="!setPasswordForm.controls['password'].valid">
      <span class="label">Confirm password*</span>
      <span class="error" [ngClass]="{'error-shown': showCurrentError('confirm-password', 'required')}">This field is required</span>
      <span class="error" [ngClass]="{'error-shown': showCurrentError('confirm-password', 'identical')}">Passwords are not identicals</span>
    </div>
    <div class="button-wrap">
      <button type="submit" [disabled]="!setPasswordForm.valid" [ngClass]="{'disabled-button': !setPasswordForm.valid}" class="button">Update</button>
    </div>
  </form>
  <div class="spinner-container" *ngIf="isSpinnerShow">
    <div class="spinner"></div>
  </div>
</app-modal-wrapper>
