<section class="container-fluid log-in-header">
  <div class="row full-height">
    <div class="col-sm-12 col-md-8 col-md-offset-2 full-height flex-center-left">
      <h2 class="title">Payments</h2>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row full-height">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="input-fields-group">
        <div class="field-wrapper">
          <div class="styled-select icon-chevron-down">
            <select class="field" [(ngModel)]="paymentForm.payment">
              <option [value]="'paypal'">PayPal</option>
              <option [value]="'stripe'">Credit/Debit Card</option>
            </select>
          </div>
          <span class="label">Payment method</span>
        </div>
        <div class="field-wrapper">
          <div class="styled-select icon-chevron-down">
            <select class="field" [(ngModel)]="paymentForm.plan" (change)="planChanged()">
              <option [value]="'basic'">Basic</option>
              <option [value]="'plus'">Plus</option>
              <option [value]="'enterprise'">Enterprise</option>
            </select>
          </div>
          <span class="label">Plan</span>
        </div>
        <div class="field-wrapper">
          <div class="styled-select icon-chevron-down">
            <select class="field" [(ngModel)]="paymentForm.period" (change)="calculateAnnual()">
              <option [value]="'monthly'">Monthly
                {{(pricing[paymentForm.plan]/1200).toFixed(2)}}$
              </option>
              <option [value]="'annually'">Annual {{(pricing[paymentForm.plan]/100)}}$</option>
            </select>
          </div>
          <span class="label">Period</span>
        </div>
        <input type="text" [(ngModel)]="paymentForm.amount" [hidden]="true">
        <div class="button-wrap flex-center">
          <div class="buy-button stripe" appStripe
               [ngClass]="{'hidden': paymentForm.payment !== 'stripe'}"
               [settings]="{'data': paymentForm}"
               (paymentSuccess)="paymentSuccess($event)">
            Buy now
          </div>
          <div class="buy-button" appPayPal
               [ngClass]="{'hidden': paymentForm.payment !== 'paypal'}"
               [settings]="{'data': paymentForm}"
               (paymentSuccess)="paymentSuccess($event)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spinner-container" *ngIf="isSpinnerShow">
  <div class="spinner"></div>
</div>
