@import "../../../../../external-css/common";

:host {
  display: block;
  flex: 1;
  position: relative;
}
.log-in-header {
  @extend %blue-titled-header;
}
.input-fields-group {
  max-width: 600px;
  margin: 50px auto;
}
.field-wrapper {
  @extend %reg-fields;
}
.button-wrap {
  margin-top: 20px;
}
.button {
  @extend %yellow-button;
  margin: 50px auto;
}
.disabled-button {
  @extend %disabled-button;
}
.login-error {
  @extend %error;
  text-align: center;
  font-size: 18px;
  &.shown {
    @extend %shown;
  }
}

