<section class="container-fluid log-in-header">
  <div class="row full-height">
    <div class="col-sm-12 col-md-8 col-md-offset-2 full-height flex-center-left">
      <h2 class="title">Log in</h2>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row full-height">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <form class="input-fields-group" [formGroup]="logInForm" (ngSubmit)="formSubmit()" novalidate>
        <div class="field-wrapper">
          <input type="text" formControlName="name" class="field">
          <span class="label">Email</span>
          <span class="error" [ngClass]="{'error-shown': logInForm.controls['name'].errors && logInForm.controls['name'].errors['required']}">This field is required</span>
        </div>
        <div class="field-wrapper">
          <input type="password" formControlName="passwd" class="field">
          <span class="label">Password</span>
          <span class="error" [ngClass]="{'error-shown': logInForm.controls['passwd'].errors && logInForm.controls['passwd'].errors['required']}">This field is required</span>
        </div>
        <div class="button-wrap">
          <button type="submit" [disabled]="!logInForm.valid || logInFailed" [ngClass]="{'disabled-button': !logInForm.valid || logInFailed}" class="button">Log in</button>
        </div>
      </form>
      <p class="login-error" [ngClass]="{'shown': logInFailed}" [innerHtml]="errorMessage"></p>
    </div>
  </div>
</div>
<div class="spinner-container" *ngIf="isSpinnerShow">
  <div class="spinner"></div>
</div>
