@import "../../../../../external-css/common";

:host {
  display: block;
  flex: 1;
  font-family: $open-sans;
}
.terms-header {
  @extend %blue-titled-header;
}
.terms-body {
  margin-top: 50px;
  margin-bottom: 50px;
}
.text-titles {
  line-height: 40px;
  font-size: 20px;
}
.text-strings {
  line-height: 30px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 12px;
}
.nested {
  margin-left: 40px;
  font-weight: 400;
}
