<section class="container-fluid terms-header">
  <div class="row full-height">
    <div class="col-sm-12 col-md-8 col-md-offset-2 full-height flex-center-left">
      <h2 class="title">Terms</h2>
    </div>
  </div>
</section>
<div class="container-fluid terms-body">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="text-titles">BETWEEN:</h3>
            <p class="text-strings">(1) Image Data Systems (UK) Ltd, a company registered in England and Wales under Company Number 2707151 and with registered office at 59A Brent Street London NW4 2EA; and</p>
            <p class="text-strings">(2) The Subscriber.</p>
            <h3 class="text-titles">WHEREAS:</h3>
            <p class="text-strings">(A)  IDS is the owner of the Website through which it provides the Service and allows Subscribers to search for, view and download Content.</p>
            <p class="text-strings">(B)  The Subscriber is working in a professional capacity and is a potential buyer of the right to use the Content provided through the Service for inclusion in its publications.</p>
            <p class="text-strings">(C)  The Subscriber wishes to be able to access the Content through the Website and the Service.</p>
            <p class="text-strings">(D)  IDS has agreed to accept the registration of the Subscriber and the parties have set out the terms of that arrangement in this Agreement.</p>
            <h3 class="text-titles">1 DEFINITIONS</h3>
            <p class="text-strings">1.1  In this Agreement the following words will have the following meanings unless the context otherwise prescribes:</p>
            <p class="text-strings nested">"Agreed Network"  means the Subscriber's network with the registered internet protocol (IP) range;</p>
            <p class="text-strings nested">"Agreed Web Browser"  means Internet Explorer for Windows version 6.x and Internet Explorer for the Macintosh version 5.2.x or above; Firefox for Macintosh and Windows. versions 1.x or above; Safari for Macintosh versions 2.x or above;</p>
            <p class="text-strings nested">"Business Day"   means any day other than a Saturday, Sunday or public holiday in England;</p>
            <p class="text-strings nested">"Channels"  means the categories of Content to which the Subscriber has subscribed as set out in Schedule 1;</p>
            <p class="text-strings nested">"Confidential Information"   means this Agreement, together with all information disclosed by one party to the other or received during the course of negotiation, entering into or performance of this Agreement which is or was expressly marked as confidential, or which ought reasonably to be considered confidential, including, without limitation, information of a commercial, marketing, financial, technical, operational or other nature, intentions, ideas, plans, proposals, operations, processes, reports, statistics, know-how, trade secrets, software, the terms of this Agreement and any documents referred to in this Agreement and the commercial and financial arrangements evidenced by this Agreement and any documents referred to in this Agreement;</p>
            <p class="text-strings nested">"Confirmation Email"  means the email sent by IDS to the Subscriber confirming the Subscriber's access details, username and password, the Subscription Fee, and Channels;</p>
            <p class="text-strings nested">"Content"  means any digitised photograph (including any attached meta tags),cartoon, story, graphic, video, press release or other content supplied by a third party supplier during the duration of this Agreement and which is accepted by IDS and hosted on the Service and available for download by the Subscriber;</p>
            <p class="text-strings nested">"Disclosing Party"   has the meaning given in Clause 11.2;</p>
            <p class="text-strings nested">"Group Company"  means any company of which a party is a Subsidiary (its holding company) and any Subsidiaries of the requisite party or any such holding company, and "Group Companies" shall be interpreted accordingly;</p>
            <p class="text-strings nested">"IDS"   means Image Data Systems (UK) Ltd or any Group Company of the same;</p>
            <p class="text-strings nested">"IDS Bank Account"   means Image Data Systems (UK) Ltd's bank account as detailed in the Confirmation Email ;</p>
            <p class="text-strings nested">"Initial Term"  has the meaning given in Clause 8.1;</p>
            <p class="text-strings nested">"Intellectual Property Rights"  means patents, designs, trade marks, service marks, trade names, logos, get-up, domain names, copyright (including without limitation rights in computer software, video, music, sound, graphics, photographs, illustration and artwork), database rights, rights in performance, moral rights, image rights, Confidential Information, know-how, whether registered or not including applications for registration and all similar forms of protection anywhere in the world;</p>
            <p class="text-strings nested">"Named Users"  the individuals listed in the Confirmation Email</p>
            <p class="text-strings nested">"Recipient Party"   has the meaning given in Clause 11.2;</p>
            <p class="text-strings nested">"Renewal"  has the meaning given in Clause 8.3;</p>
            <p class="text-strings nested">"Service"  means the IDS PictureDesk service operated by IDS, being an aggregator or portal of digital content from a variety of agencies and other third parties, which the Subscriber may access by means of an Agreed Web Browser on the Agreed Network and from which the Subscriber may, subject to the terms of this Agreement, select, download and use the Content contained on the Channels to which they subscribe;</p>
            <p class="text-strings nested">"Subscriber User"   has the meaning given in Clause 2.6;</p>
            <p class="text-strings nested">"Subscription Fee"  has the meaning given in Clause 7.1;</p>
            <p class="text-strings nested">"Subsidiary"   means in relation to a company (a holding company) a subsidiary (as defined in section 736 of the Companies Act 1985) and any other company which is itself a subsidiary of such holding company, and "Subsidiaries" shall be interpreted accordingly;</p>
            <p class="text-strings nested">"Term"  has the meaning given in Clause 8.2;</p>
            <p class="text-strings nested">"Term Commencement Date"  has the meaning given in Clause 8.2;</p>
            <p class="text-strings nested">"Website"  means IDS's website with the domain www.idspicturedesk.com/index.jsp through which the Service is provided; and</p>
            <p class="text-strings nested">"Website Terms and Conditions"  means the terms and conditions available to view at http://www.idspicturedesk.com/terms-nl-action.ids which apply to the Subscriber's use of the Website.</p>
            <p class="text-strings">1.2  The headings are for convenience only and shall not affect its interpretation.</p>
            <p class="text-strings">1.3  References to a Clause, Schedule or Paragraph are to a clause, schedule or paragraph in this Agreement.</p>
            <p class="text-strings">1.4  Any reference to this Agreement or to any other document shall include any permitted variation, amendment or supplement to such document.</p>
            <p class="text-strings">1.5  Any reference to any statute shall include references to the same as it may have been, or may from time to time be amended, modified, consolidated or re-enacted and to any regulation or sub-ordinate legislation made under it (or under such an amendment, modification, consolidation or re-enactment).</p>
            <p class="text-strings">1.6  Reference to the plural shall include the singular and vice versa, and reference to one gender includes reference to all genders. Any reference to a person shall be to a legal person of whatever kind whether incorporated or unincorporated and to its successors, permitted assigns or transferees.</p>
            <p class="text-strings">1.7  Any statement qualified by reference to a party's state of knowledge, belief or awareness shall be deemed to include an additional statement that before making it that party has made such enquiry as it would be reasonable to expect it to have made.</p>
            <p class="text-strings">1.8  Words shall not be given a restrictive interpretation by reason of their being preceded or followed by words indicating a particular class of acts, matters or things.</p>
            <p class="text-strings">1.9  Where any warranty is given or obligation is undertaken by two or more persons jointly those persons shall be jointly and severally liable in respect of that warranty or obligation and where any warranty is given or obligation is undertaken for the benefit of two or more persons jointly those persons shall be jointly and severally entitled to that benefit.</p>
            <h3 class="text-titles">2 SUBSCRIBER OBLIGATIONS</h3>
            <p class="text-strings">2.1  The Subscriber agrees to pay the Subscription Fee.</p>
            <p class="text-strings">2.2  The Subscriber acknowledges and agrees that the ownership in any Intellectual Property Rights (including for the avoidance of doubt, copyright) in the Website and the Service belongs to IDS or its licensors and that nothing in this Agreement confers upon the Subscriber any right, title or interest in the Intellectual Property Rights in the Website or the Service. Accordingly, the Subscriber agrees that any part of the Website (or its source HTML code) and the Service may not be used, transferred, copied, downloaded or reproduced in whole or in part in any manner other than for the purposes of utilising the Website and the Service.</p>
            <p class="text-strings">2.3  The Subscriber agrees and acknowledges that access to the Service and the Content through the licence granted in Clause 6 and under this Agreement does not constitute a right to use the Content and that it is the responsibility of the Subscriber to ensure that it has all necessary permissions, consents, licences and / or waivers from the owners of the Intellectual Property Rights in the Content for such use.</p>
            <p class="text-strings">2.4  The Subscriber agrees to only access the Service from the Agreed Network.</p>
            <p class="text-strings">2.5  The Subscriber agrees not to attempt to gain unauthorised access to the Website or the Service, the server on which the Website and / the Service is stored or any server, computer or database connected to the Website and / or the Service.</p>
            <p class="text-strings">2.6  The Subscriber acknowledges that passwords and user names are provided by IDS on a "per user" basis and that these details are unique to each individual user specified in Schedule 2 (a "Subscriber User"), and the Subscriber agrees not to disclose these details to individuals within the Subscriber or a Subscriber Group Company (where applicable) other than the relevant Subscriber User or in breach of Clause 2.7 below</p>
            <p class="text-strings">2.7  The Subscriber shall keep all passwords, user names and unique resource locators (URLs) for use of the Service confidential and agrees not to disclose these details to any third party. The Subscriber shall be responsible for all use of the Service and Content gained through its user name and / or password and acknowledges that IDS shall not be liable for any loss or damage caused as a result of the Subscriber's failure to keep these details confidential. IDS reserves the right to disable any user name and / or password, whether chosen by the Subscriber or allocated by IDS, at any time, if in IDS's opinion the Subscriber has failed to comply with any of the provisions of the terms of this Agreement.</p>
            <p class="text-strings">2.8  The Subscriber agrees to notify IDS immediately if it suspects that any of its account details (including without limitation Subscriber User user names and passwords) are no longer secret.</p>
            <p class="text-strings">2.9  The Subscriber shall not, during the Term, (whether directly or indirectly or whether in its own account or for the account of any other person, firm or company)
              approach or solicit any client of IDS with a view to persuading that client to cease using the Services or doing business with IDS or selling that client a service which competes with the Service.</p>
            <p class="text-strings">2.10  The Subscriber shall report to IDS each month the full details of the usage of the Content in any print edition, web site edition or electronic edition (including any version sold through an app store) of a publication in which Content was used in the previous month, regardless of when such Content was purchased.</p>
            <p class="text-strings">2.11  The Subscriber may not store or archive any Content for general usage as and when the Subscriber wishes to use that Content.</p>
            <h3 class="text-titles">3 SUBSCRIBER WARRANTIES</h3>
            <p class="text-strings">3.1  The Subscriber warrants that:</p>
            <p class="text-strings nested">(a)  it will use the Service and the Website only in a professional capacity and will not use any Content for its own private use;</p>
            <p class="text-strings nested">(b)  it will use the Service and the Website in accordance with the terms of this Agreement (including without limitation, Clause 2.3 and the Website Terms and Conditions);</p>
            <p class="text-strings nested">(c)  it has full power and authority to enter into this Agreement and has not previously entered, nor will it during the term of this Agreement enter, into any other agreement which will adversely affect its obligations hereunder;</p>
            <p class="text-strings nested">(d)  it will report each separate use of Content to IDS and the owners of the Intellectual Property Rights in any Content it uses and will pay to the owners all fees applicable to its use of the same in a timely and correct manner;</p>
            <p class="text-strings nested">(e)  it will, when requested by IDS, produce a list of all and any uses of the Content;</p>
            <p class="text-strings nested">(f)  its use of the Content will not infringe the Intellectual Property Rights, rights of privacy or any other such rights of any third party;</p>
            <p class="text-strings nested">(g)  it will credit use of the Content, and acknowledges that failure to do so may result in an additional charge being levied by the owner of the Intellectual Property Rights in the Content for which the Subscriber will be solely liable; and</p>
            <p class="text-strings nested">(h)  it will not transfer, send, sub-licence, resell, distribute or otherwise dispose of the Content that it gains through use of the Service to any third party other than in accordance with the terms of this Agreement.</p>
            <h3 class="text-titles">4 IDS RIGHTS AND OBLIGATIONS</h3>
            <p class="text-strings">4.1  IDS reserves the right to amend, improve or develop the Website and / or Service at any time without notice to the Subscriber.</p>
            <p class="text-strings">4.2  IDS has the right to advertise and promote the Service and may, with the Subscriber's prior written consent use the Subscriber's name in promotional and advertising materials.</p>
            <p class="text-strings">4.3  IDS shall during the Term:</p>
            <p class="text-strings nested">(a)  operate, develop and maintain the Service;</p>
            <p class="text-strings nested">(b)  supply the Content for use in the Channels to which the Subscriber has subscribed;</p>
            <p class="text-strings nested">(c)  provide the Service to the best of its technical ability;</p>
            <p class="text-strings nested">(d)  subject to Clause 4.5, provide via telephone, technical support to the Subscriber</p>
            <p class="text-strings">4.4  The parties agree that the Service should be available to the Subscriber for ninety-five percent (95%) of the time during each calendar month of this Agreement.</p>
            <p class="text-strings">4.5  Where the Subscriber accesses the Service via an Agreed Web Browser on the Agreed Network, IDS will not provide support services in relation to any issue, error or problem arising as a result of the Subscriber's network or browser.</p>
            <p class="text-strings">4.6  IDS may suspend the Subscriber's account and access to the Service and Website without notice if the Subscriber breaches any term of this Agreement. IDS may restore the Subscriber's access once the relevant breach has been rectified to IDS's satisfaction. On restoring access, IDS may charge the Subscriber a reconnection fee in accordance with Clause 7.3.</p>
            <p class="text-strings">4.7  IDS may audit the accuracy of the Subscriber's reporting under Clause 2.10 and the use of the Content that it has downloaded by:</p>
            <p class="text-strings nested">(a)  reviewing the Subscriber's web site on which the Content appears using both manual and automatic means;</p>
            <p class="text-strings nested">(b)  requesting from the Subscriber a PDF copy of any print edition of a publication in which Content appears. The Subscriber shall supply this without charge and as soon as reasonably possible after receiving a request;</p>
            <p class="text-strings nested">(c)  reviewing any electronic version of a publication in which the Content appears and which is accessible by any electronic device including, without limitation, PCs laptops, mobile and smart phones and tablets, IDS may use both manual and automatic means for the purposes of such review; and</p>
            <p class="text-strings nested">(d)  reviewing printed copies of any publication in which the Content appears.</p>
            <p class="text-strings">4.8  IDS may at any time request that the Subscriber immediately cease to use any Content it has downloaded, delete all copies of that Content in its possession or control and remove all traces of that Content from any of its electronic or hard copy publications under its control.</p>
            <p class="text-strings">4.9  IDS may insert a digital tracking mechanism, such as an invisible watermark, into Content to enable it to track the download and use of the Content by the Subscriber.</p>
            <p class="text-strings">4.10  IDS may use cookies to store information on your computer, to identify users and the computers used to access the Service.</p>
            <h3 class="text-titles">5 IDS WARRANTIES</h3>
            <p class="text-strings">5.1  IDS warrants that it:</p>
            <p class="text-strings nested">(a)  has full power and authority to enter into this Agreement and has not previously entered, nor will it during the term of this Agreement enter, into any other agreement which will adversely affect its obligations hereunder; and</p>
            <p class="text-strings nested">(b)  will provide the Service at all times with qualified personnel using relevant care and skill.</p>
            <h3 class="text-titles">6 LICENCE</h3>
            <p class="text-strings">Subject to payment of the Subscription Fee, IDS grants to the Subscriber for the Term a non-exclusive licence to view, and, where agreed by the Content suppliers, download Content from the Website through the Service in accordance with the terms of this Agreement.</p>
            <h3 class="text-titles">7 CHARGES</h3>
            <p class="text-strings">7.1  In consideration of IDS providing the Service to the Subscriber, the Subscriber will pay to IDS a fee per month of this Agreement (the "Subscription Fee"). The amount of the fee will be set out in the email confirming the Subscriber's access details ( the "Confirmation Email". The Subscription Fee shall be payable by standing order to the IDS Bank Account by the Subscriber quarterly in advance, and for the avoidance of doubt the first payment shall be due on the Commencement Date.</p>
            <p class="text-strings">7.2  The Subscriber acknowledges that the Subscription Fee has been calculated on expectation that the Subscriber's use of the Service will not exceed 4000 searches per month . Where the Subscriber exceeds this level of activity, IDS reserves the right in its sole discretion to increase the Subscription Fee.</p>
            <p class="text-strings">7.3  Where the Subscriber fails to pay the Subscription Fee IDS reserves the right to suspend and / or terminate the Subscriber's account and access to the Service and Website. The Subscriber acknowledges and agrees that in such circumstances IDS will be entitled to charge a reasonable re-connection fee where the Subscriber requests re-instatement of the Service and / or access to the Website.</p>
            <p class="text-strings">7.4  IDS is not liable for any costs, expenses, charges or liabilities incurred by the Subscriber as a result of suspension and / or termination of the Subscriber's access to the Service and / or Website arising from the operation of Clause 7.3.</p>
            <p class="text-strings">7.5  IDS reserves the right in its sole discretion to vary or amend the Subscription Fee. IDS shall notify the Subscriber in writing of any changes made in accordance with this Clause 7.5 and any such changes shall have immediate effect.</p>
            <p class="text-strings">7.6  All amounts due under this Agreement shall be paid in full without any deduction or withholding other than as required by law and the Subscriber shall not be entitled to assert any credit, set-off or counterclaim against IDS in order to justify withholding payment of any such amount in whole or in part.</p>
            <h3 class="text-titles">8 TERM AND TERMINATION</h3>
            <p class="text-strings">8.1  The initial term of this Agreement shall be twelve (12) months from the date of this Agreement (the "Initial Term"). During the Initial Term, neither party may terminate the Agreement except as provided for by Clauses 7.4 and 8.4.</p>
            <p class="text-strings">8.2  If neither party has notified the other through the provision of 3 months prior notice in writing that it wishes to terminate this Agreement on the expiry of the Initial Term, this Agreement will renew for a period of one (1) year (the "Term") from the date of expiry of the Initial Term (the "Term Commencement Date").</p>
            <p class="text-strings">8.3  This Agreement will automatically renew for subsequent one (1) year terms on each anniversary of the Term Commencement Date (a "Renewal") unless terminated by either party through the provision of 3 months notice in writing.</p>
            <p class="text-strings">8.4  This Agreement may be terminated immediately by either party giving notice to the other if:</p>
            <p class="text-strings nested">(a)  the other commits a material breach of any of the terms of this Agreement;</p>
            <p class="text-strings nested">(b)  the other commits any breach of any of the provisions of this Agreement and such breaches, if capable of remedy, are not remedied within seven (7) calendar days of receipt of notice requiring such remedy; or</p>
            <p class="text-strings nested">(c)  any encumbrancer takes possession of, or a receiver is appointed over, any of the property or assets of the other party or the other party makes any voluntary arrangement with its creditors or convenes a meeting to consider proposals for a company voluntary arrangement and / or files any documents with the court for a moratorium pending the outcome of such a meeting or becomes subject to an administration order or goes into liquidation (except for the purposes of amalgamation or reconstruction not involving insolvency and in such manner that the entity resulting agrees to be bound by or assumes the obligations imposed on that other party under this Agreement) or anything analogous to any of the foregoing under the law of any jurisdiction that occurs in relation to the other party or if the other party ceases or threatens to cease to carry on business, or is unable to pay its debts within the meaning of section 123 of the Insolvency Act 1986.</p>
            <p class="text-strings">8.5  Upon termination of this Agreement for any reason:</p>
            <p class="text-strings nested">(a)  the Subscriber's right to use the Service and the Website shall cease immediately;</p>
            <p class="text-strings nested">(b)  the Subscriber shall remain liable for the payment of any Subscription Fee outstanding at the date of termination; and</p>
            <p class="text-strings nested">(c)  the Subscriber shall delete or return to IDS all IDS Confidential Information in its possession or control, or at IDS' written request, destroy the same.</p>
            <p class="text-strings">8.6  Any termination of this Agreement shall be without prejudice to any accrued rights or liabilities of either party whether under statute, in contract, tort or otherwise, nor prevent either party from pursuing other remedies available to it. Clause 16.6 shall continue to apply to rights, liabilities and remedies of the parties arising under this Agreement prior to termination.</p>
            <h3 class="text-titles">9 LIABILITY</h3>
            <p class="text-strings">9.1  IDS will use its best endeavours to provide the Service, but does not warrant or guarantee that the Service and / or Website will always be operational and / or error free. IDS shall have no liability to the Subscriber for losses, costs, expenses or charges incurred as a result of, without limitation server downtime, lost transmissions, loss of the Content or any other failure of the Service.</p>
            <p class="text-strings">9.2  IDS is not responsible for any errors or omissions in the Website or Service and reserves the right to make changes without notice (such changes may from time to time cause temporary interruptions in the provision of the Website and / or Service). Accordingly, information on the Website and the Service, including that belonging to or posted by third parties is provided "AS IS".</p>
            <p class="text-strings">9.3  Neither party limits its liability for:</p>
            <p class="text-strings nested">(a)  death or personal injury caused by its negligence;</p>
            <p class="text-strings nested">(b)  fraud (including without limit fraudulent misrepresentation) on the other party;</p>
            <p class="text-strings nested">(c)  any other liability which may not be excluded or limited by law.</p>
            <p class="text-strings">9.4  Subject to Clause 9.3, the total aggregate liability of IDS arising from any breach of the obligations under this Agreement or of any act or omission, negligent act or statement by IDS or its employees will not exceed one month's Subscription Fee.</p>
            <p class="text-strings">9.5  Subject to Clause 9.3 and whether or not IDS has been advised of the possibility of such loss or damage IDS shall not be liable to the Subscriber for:</p>
            <p class="text-strings nested">(a)  loss of profits, loss of anticipated savings, loss of revenue, loss of contracts, loss of production, loss of data, loss of goodwill and / or loss of business (in each case whether direct or indirect);</p>
            <p class="text-strings nested">(b)  any type of special, consequential or indirect loss or damage; howsoever caused (including due to negligence, breach of contract, delayed delivery and / or misrepresentation).</p>
            <p class="text-strings">9.6  The parties agree and acknowledge that this Agreement states each party's entire liability of whatever type or nature to the other in connection with this Agreement.</p>
            <p class="text-strings">9.7  The content of the Website and Service (including without limitation, the Content) is provided "AS IS" and except to the extent that by law such warranties may not lawfully be excluded in terms and conditions of this nature, without warranty of any kind, either express or implied. Nothing in this Clause 9.7 affects the Subscriber's statutory rights as a consumer. The content of the Website and / or Service could include technical inaccuracies or typographical errors. Changes are periodically added to the information given on the Website and the Service. These changes will be incorporated in new editions or versions of the Website or Service and IDS may make improvements or changes in the content at any time.</p>
            <p class="text-strings">9.8  IDS shall not be held responsible for any content (including without limitation, the Content) provided by any third parties.</p>
            <p class="text-strings">9.9  IDS shall have no liability to the Subscriber or to any third party for any claims, costs or damages, expenses arising from the late delivery of Content to the Subscriber.</p>
            <p class="text-strings">9.10  The Subscriber acknowledges that IDS shall not be liable to the Subscriber for any loss of or damage to the Content caused by a third party.</p>
            <p class="text-strings">9.11  The Subscriber acknowledges that IDS shall not be liable to the Subscriber or any third party owner of Intellectual Property Rights for any costs, charges, expenses or liabilities arising out of the Subscriber's use of the Content.</p>
            <p class="text-strings">9.12  IDS does not warrant that the Website and Service are compatible with the Subscriber's computer equipment or that the Website and Service are free from errors or viruses. IDs will not be liable for any damage that the Subscriber may suffer as a result of such destructive features.</p>
            <p class="text-strings">9.13  IDS will not be responsible for any failure in the Service should the Subscriber not be accessing the Service via an Agreed Web Browser.</p>
            <p class="text-strings">9.14  IDS will not be responsible for the reliability or continued availability of telephone lines and equipment that the Subscriber uses to access the Website and Service.</p>
            <p class="text-strings">9.15  IDS does not represent that either the Website or the Service are appropriate for use or permitted by local laws in all jurisdictions. The Subscriber is responsible for compliance with applicable local laws and regulations.</p>
            <p class="text-strings">9.16  IDS shall not be liable to the Subscriber or be deemed to be in breach of this Agreement by reasons of any delay in performing, or failure to pe</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
