@import "../../../../../external-css/common";

:host {
  display: block;
  flex: 1;
  font-family: $montserat;
}
.about-header {
  @extend %blue-titled-header;
}
.with-margins {
  margin-top: 50px;
  margin-bottom: 50px;
}
.about-text {
  font-family: $open-sans;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $dark-gray-text;
  text-indent: 40px;
  &.without-indent {
    text-indent: 0;
  }
}
.with-borders {
  border-top: 4px solid $light-blue;
  border-bottom: 4px solid $light-blue;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.column-block {
  text-align: center;
  flex: 1;
  &:before {
    font-size: 160px;
    color: $main-blue;
  }
}
.about-bold {
  font-weight: 600;
  text-align: center;
}
.blues-square-wrapper {
  width: calc(100% + 30px);
}
.blue-square {
  background-color: $light-blue;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  flex: 1;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .column-block {
    &:before {
      font-size: 130px;
    }
  }
}

@media screen and (max-width: 992px) {
  .with-borders {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .column-block {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
.with-margins {
  margin-top: 20px;
  margin-bottom: 20px;
}
  .column-block {
    &:before {
      font-size: 100px;
    }
  }
  .blues-square-wrapper {
    flex-wrap: wrap;
  }
  .column-block {
    flex: auto;
    .about-bold {
      margin-top: 0;
    }
  }
}
