<section class="container-fluid about-header">
  <div class="row full-height">
    <div class="col-sm-12 col-md-8 col-md-offset-2 full-height flex-center-left">
      <h2 class="title">About IDS</h2>
    </div>
  </div>
</section>
<div class="container-fluid with-margins">
  <div class="row full-height">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <p class="about-text">IDS is a web based platform feeding millions of images from
        professional photographers and their agents to newspapers and magazines. IDS is
        an effective and economical way to promote your pictures to a wide range of media,
        and to gain access to the best pictures around. For further details about including
        your pictures on IDS, or to use IDS to find the right images for you, please contact us.
      </p>
      <p class="about-text">
        Established in 1992 IDS are leaders in online image management technology. We host websites
        for top photographic agencies worldwide and have over 50 million images online growing by
        30,000 daily. For further details about the range of services IDS offers please contact us
      </p>
      <div class="container-fluid">
        <div class="row with-borders">
          <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 flex-column-center column-block icon-tools">
            <p class="about-text without-indent">
              IDS’s proprietary Artificial Intelligence software provides lightning fast image
              matching, reverse image search, and automatic keywording.
            </p>
          </div>
          <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 flex-column-center column-block icon-view">
            <p class="about-text without-indent">
              IDS have been building fast, large‐scale (100M +) image databases for the world’s
              media companies for 25 years.
            </p>
          </div>
          <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 flex-column-center column-block icon-athom">
            <p class="about-text without-indent">
              MyIDS makes these fantastic tools available for the first time, giving you a smarter way
              to manage visual content.
            </p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <p class="about-text without-indent about-bold">What people are saying about IDS</p>
          </div>
          <div class="row flex-default-between blues-square-wrapper">
            <div class="col-xs-12 col-sm-4 flex-column-center column-block">
              <p class="about-text without-indent about-bold">
                Daily Mirror
              </p>
              <p class="about-text without-indent blue-square">
                "IDS is the 3rd greatest invention of all time - after the wheel and the dishwasher"
              </p>
            </div>
            <div class="col-xs-12 col-sm-4 flex-column-center column-block">
              <p class="about-text without-indent about-bold">
                People Press
              </p>
              <p class="about-text without-indent blue-square">
                "Without IDS you are invisible"
              </p>
            </div>
            <div class="col-xs-12 col-sm-4 flex-column-center column-block">
              <p class="about-text without-indent about-bold">
                Grazia Magazine
              </p>
              <p class="about-text without-indent blue-square">
                "IDS is always our first port of call, we use it every day without exception"
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
