<header class="container-fluid full-height">
  <div class="row full-height">
    <div class="col-xs-6  col-sm-3 col-md-2 full-height flex-center">
      <span class="mobile-menu-toggle icon-menu" (click)="toggleLinksVisibility(true)"></span>
      <span class="logo" routerLink="landing">MyIDS</span>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4 full-height flex-center-left mobile-settings" [ngClass]="{'visible': isLinksVisibles}">
      <span class="links" routerLink="information/about" routerLinkActive="active">About</span>
      <span class="links" routerLink="information/contact" routerLinkActive="active">Contact</span>
      <span class="links" routerLink="information/terms" routerLinkActive="active">Terms</span>
      <span class="mobile-menu-toggle icon-close" (click)="toggleLinksVisibility(false)"></span>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-3 full-height flex-center">
      <span class="button" routerLink="registration" *ngIf="isRegButtonVisible">Sign Up</span>
      <span class="button icon-user" routerLink="login">Login</span>
    </div>
  </div>
</header>
