@import "../../../../../external-css/common";

:host {
  font-family: $montserat;
  background-color: $header-b-g;
  height: $header-height;
  display: block;
  position: relative;
}
.logo {
  font-size: 36px;
  font-weight: 500;
  color: $light-gray;
}
.links {
  @extend %header-links;
}
.icon-close {
  margin-left: auto;
}
.icon-menu {
  margin-right: auto;
}
.mobile-menu-toggle {
  display: none;
  font-size: 30px;
  padding: 5px;
  color: $light-gray;
  line-height: 30px;
}
.button {
  @extend %header-button;
}

@media screen and (max-width: 768px){
  .logo {
    font-size: 20px;
    margin-right: auto;
  }
  .mobile-settings {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $header-b-g;
    min-height: 0;
    height: 0;
    overflow: hidden;
    transition: $links-transition;
  }
  .mobile-menu-toggle {
    display: block;
  }
  .visible {
    min-height: $header-height;
  }
}
