<div class="mod-body" [ngClass]="{'close-mod-body': closeModBody}">
  <div class="mod-content-wrapp">
    <div class="mod-content-head">
      <span class="close icon-close" (click)="closeModal()"></span>
    </div>
      <ng-content></ng-content>
  </div>
</div>
