@import "../../../../../external-css/common";

:host {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}
.input-fields-group {
  display: block;
}
.block-tip {
  font-size: 16px;
  font-weight: 400;
  color: $dark-gray-text;
  margin-top: 50px;
  &:first-child {
    margin-top: 0;
  }
}
.plan-wrapper {
  width: 250px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: $links-transition;
  &:hover {
    box-shadow: $plans-box-shadow;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid $light-blue;
    border-radius: 5px;
  }
}
.field-wrapper {
  @extend %reg-fields;
}
.plan-title {
  @extend %plan-title;
  font-size: 23px;
}
.plan-points {
  @extend %plan-points;
}
.price {
  color: white;
  font-weight: 600;
  font-size: 18px;
}
.bold-title {
  font-weight: 600;
}
.popular {
  &:before {
    content: 'Most popular';
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @extend %flex-center;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    background-color: $yellow;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
.choosen-plan {
  display: none;
  &:checked {
    & + .plan-wrapper {
      box-shadow: $plans-box-shadow;
      &:after {
        border: 3px solid $main-blue;
      }
    }
  }
}
.range-wrapper {
  width: 250px;
}
.input-range {
  margin-top: 15px;
  width: 100%;
}
.button-wrap {
  margin-top: 20px;
}
.button {
  @extend %yellow-button;
  margin-left: auto;
}

@media screen and (max-width: 1200px){
  .plans-group {
    flex-direction: column;
    max-width: 600px;
    margin: auto;
  }
  .plan-wrapper {
    width: 100%;
  }
  .field-wrapper {
    max-width: 600px;
    margin: 15px auto 0;
  }
  .range-wrapper {
    width: auto;
  }
  .block-tip {
    max-width: 600px;
    margin: 50px auto 0;
  }
  .plan-points {
    width: 50%;
    float: left;
    border: 1px solid white;
    background-color: $light-blue;
    border-radius: 5px;
  }
}

@media screen and (max-width: 520px) {
  .plan-points {
    width: 100%;
    float: none;
    background-color: white;
  }
}

//input range styles
.input-range {
  -webkit-appearance: none;
}

.input-range:focus {
  outline: none;
}
.input-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background-color: $light-blue;
}
.input-range::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $yellow;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

.input-range::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background-color: $light-blue;
}
.input-range::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $yellow;
  cursor: pointer;
  -webkit-appearance: none;
}
.input-range::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.input-range::-ms-fill-lower,
.input-range::-ms-fill-upper {
  background: $light-blue;
}
.input-range::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $yellow;
  cursor: pointer;
}
