<form class="input-fields-group" [formGroup]="stepTwoForm" (ngSubmit)="formSubmit()" novalidate>
  <div class="block-tip">Choose a plan:</div>
  <div class="plans-group flex-default-between">
    <input type="radio" class="choosen-plan" formControlName="choosen-plan" [value]="'basic'" id="basic-plan-id" (change)="planChanged('basic')" appDisableControl [disableControl]="fieldsDisabled">
    <label for="basic-plan-id" class="plan-wrapper relative">
      <span class="plan-title">
        MyIDS <span class="yellow">Basic</span>
      </span>
      <span class="plan-points bold-title">
        Team size = up to 5
      </span>
      <span class="plan-points">
        Single administrator access
      </span>
      <span class="plan-points">
        Unlimited Collections
      </span>
      <span class="plan-points">
        Contact Sheets
      </span>
      <span class="plan-points">
        Company branding
      </span>
      <span class="hidden-xs visible-lg plan-points no-fill">
      </span>
      <span class="hidden-xs visible-lg plan-points no-fill">
      </span>
      <span class="hidden-xs visible-lg plan-points no-fill">
      </span>
      <span class="plan-points price">
        {{pricing.basic/100}} $
      </span>
    </label>
    <input type="radio" class="choosen-plan" formControlName="choosen-plan" [value]="'plus'" id="plus-plan-id" (change)="planChanged('plus')" appDisableControl [disableControl]="fieldsDisabled">
    <label for="plus-plan-id" class="plan-wrapper relative popular">
      <span class="plan-title">
        MyIDS <span class="yellow">Plus</span>
      </span>
      <span class="plan-points bold-title">
        Team size = up to 20
      </span>
      <span class="plan-points">
        Multiple administrator access
      </span>
      <span class="plan-points">
        Unlimited Collections
      </span>
      <span class="plan-points">
        Contact Sheets
      </span>
      <span class="plan-points">
        Company branding
      </span>
      <span class="plan-points">
        IDS AutoTags
      </span>
      <span class="plan-points">
        Visual Search
      </span>
      <span class="plan-points">
        Watermarking
      </span>
      <span class="plan-points price">
        {{pricing.plus/100}} $
      </span>
    </label>
    <input type="radio" class="choosen-plan" formControlName="choosen-plan" [value]="'enterprise'" id="enterprise-plan-id" (change)="planChanged('enterprise')" appDisableControl [disableControl]="fieldsDisabled">
    <label for="enterprise-plan-id" class="plan-wrapper relative">
      <span class="plan-title">
        MyIDS <span class="yellow">Enterprise</span>
      </span>
      <span class="plan-points bold-title">
        Team size = up to 1000
      </span>
      <span class="plan-points">
        Multiple administrator access
      </span>
      <span class="plan-points">
        Unlimited Collections
      </span>
      <span class="plan-points">
        Contact Sheets
      </span>
      <span class="plan-points">
        Company branding
      </span>
      <span class="plan-points">
        IDS AutoTags
      </span>
      <span class="plan-points">
        Visual Search
      </span>
      <span class="plan-points">
        Watermarking
      </span>
      <span class="plan-points price">
        {{pricing.enterprise/100}} $
      </span>
    </label>
  </div>
  <div class="block-tip">Select number of users:</div>
  <div class="field-wrapper">
    <div class="range-wrapper">
      <input type="number" name="team-size" class="field" #timeSize [(ngModel)]="teamSize" [ngModelOptions]="{standalone: true}" max="1000" min="1" appDisableControl [disableControl]="fieldsDisabled">
      <input type="range" name="team-range" class="input-range" [(ngModel)]="teamSize" [ngModelOptions]="{standalone: true}" (change)="teamSizeChanged($event)" max="1000" min="1" appDisableControl [disableControl]="fieldsDisabled">
    </div>
  </div>
  <div class="button-wrap">
    <button type="submit" [disabled]="!stepTwoForm.valid" [ngClass]="{'disabled-button': !stepTwoForm.valid}" class="button">Next</button>
  </div>
</form>
