@import "../../../../../external-css/common";

:host {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  position: relative;
}
.input-fields-group {
  max-width: 600px;
  margin: auto;
}
.field-wrapper {
  @extend %reg-fields;
}
.styled-select {
  @extend %styled-select;
}
.button-wrap {
  margin-top: 50px;
}
.buy-button {
  margin: 15px 0;
  height: 35px;
  width: 200px;
}
.stripe {
  @extend %flex-center;
  background-color:  #009cde;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: white;
  &:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
  }
}
.hidden {
  display: none;
  overflow: hidden;
}
.login-error {
  @extend %error;
  text-align: center;
  font-size: 18px;
  &.shown {
    @extend %shown;
  }
}
.capitalize {
  text-transform: capitalize;
}
