<div class="input-fields-group">
  <div class="field-wrapper">
    <span class="field capitalize" [innerHtml]="stepThreeForm.plan"></span>
    <span class="label">Plan</span>
  </div>

  <div class="field-wrapper">
    <div class="styled-select icon-chevron-down">
      <select class="field" [(ngModel)]="stepThreeForm.payment" [disabled]="fieldsDisabled">
        <option [value]="'paypal'">PayPal</option>
        <option [value]="'stripe'">Credit/Debit Card</option>
      </select>
    </div>
    <span class="label">Payment method</span>
  </div>
  <div class="field-wrapper">
    <div class="styled-select icon-chevron-down">
      <select class="field" [(ngModel)]="stepThreeForm.period" (change)="calculateAnnual()" [disabled]="fieldsDisabled">
        <option [value]="'monthly'">Monthly
          {{(pricing[stepThreeForm.plan]/1200).toFixed(2)}}$
        </option>
        <option [value]="'annually'">Annual
          {{(pricing[stepThreeForm.plan]/100)}}$
        </option>
      </select>
    </div>
    <span class="label">Frequency</span>
  </div>
  <input type="text" [(ngModel)]="stepThreeForm.amount" [hidden]="true">
  <div class="button-wrap flex-center">
    <div class="buy-button stripe" appStripe
         [ngClass]="{'hidden': stepThreeForm.payment !== 'stripe' || !tryAgainHidden}"
         [settings]="{'data': stepThreeForm}"
         (paymentSuccess)="paymentSuccess($event)">
        Buy now
    </div>
    <div class="buy-button" appPayPal
         [ngClass]="{'hidden': stepThreeForm.payment !== 'paypal' || !tryAgainHidden}"
         [settings]="{'data': stepThreeForm}"
         (paymentSuccess)="paymentSuccess($event)">
    </div>
    <div class="buy-button stripe"
         [ngClass]="{'hidden': tryAgainHidden}"
         (click)="sendRegistrationData()">
      Try again
    </div>
  </div>
</div>
<p class="login-error" [ngClass]="{'shown': !!errorMessage}" [innerHtml]="errorMessage"></p>
<div class="spinner-container" *ngIf="isSpinnerShow">
  <div class="spinner"></div>
</div>
