<div class="success-section">
  <h2 class="success-message">Success <br> Congratulations</h2>
  <p class="success-tip">We will send you an email to verify your address. Please click the confirmation link.
  If you do not receive the email please check your Junk mail folder.</p>
</div>
