@import "../../../../../external-css/common";

:host {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}
.success-section {
  max-width: 400px;
  margin: 0 auto;
}
.success-message {
  font-size: 35px;
  font-weight: 400;
  color: $main-blue;
  font-family: $open-sans;
  text-align: center;
}
.success-tip {
  color: $dark-gray-text;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
