<footer class="container-fluid full-height">
  <div class="row full-height">
    <div class="col-xs-12 col-sm-5 col-sm-offset-3 col-md-4 col-md-offset-2 full-height flex-center-left mobile-align">
      <span class="links" routerLink="information/about" routerLinkActive="active">About</span>
      <span class="links" routerLink="information/contact" routerLinkActive="active">Contact</span>
      <span class="links" routerLink="information/terms" routerLinkActive="active">Terms</span>
    </div>
    <div class="hidden-xs col-sm-4 col-md-3 col-md-offset-3 full-height flex-center">
      <span class="button" routerLink="registration" *ngIf="isRegButtonVisible">Sign Up</span>
      <span class="button icon-user" routerLink="login">Login</span>
    </div>
  </div>
</footer>
