@import "../../../../../external-css/common";

:host {
  padding: 0 0 30px;
  font-family: $montserat;
  background-color: $header-b-g;
  height: $footer-height;
  display: block;
}
.links {
  @extend %header-links;
}
.button {
  @extend %header-button;
}

@media screen and (max-width: 768px) {
  .mobile-align {
    justify-content: center;
  }
}
