<section class="container-fluid confirm-header">
  <div class="row full-height">
    <div class="col-sm-12 col-md-8 col-md-offset-2 full-height flex-center-left">
      <h2 class="title">Confirm Email</h2>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row full-height">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="message-section">
        <h2 class="message success-message" [ngClass]="{'error-message': isCodeError}" [innerHtml]="isCodeError ? 'Error' : 'Success'"></h2>
        <p class="success-tip" [innerHtml]="message"></p>
        <form class="input-fields-group" [formGroup]="resendForm" (ngSubmit)="formSubmit()" *ngIf="isCodeError" novalidate>
          <div class="field-wrapper">
            <input type="text" formControlName="email" class="field">
            <span class="label">Email*</span>
            <span class="error" [ngClass]="{'error-shown': showCurrentError('email', 'required')}">This field is required</span>
            <span class="error" [ngClass]="{'error-shown': showCurrentError('email', 'pattern')}">Wrong name format</span>
          </div>
          <div class="button-wrap">
            <button type="submit" [disabled]="!resendForm.valid || resendFailed" [ngClass]="{'disabled-button': !resendForm.valid || resendFailed}" class="button">Send</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>
