@import "../../../../../external-css/common";

:host {
  display: block;
  flex: 1;
}
.confirm-header {
  @extend %blue-titled-header;
}
.message-section {
  max-width: 600px;
  margin: 30px auto 0;
}
.message {
  font-family: $open-sans;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  color: $main-blue;
}
.error-message {
  color: $error;
}
.success-tip {
  color: $dark-gray-text;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
.field-wrapper {
  @extend %reg-fields;
}
.button-wrap {
  margin-top: 20px;
}
.button {
  @extend %yellow-button;
  margin-left: auto;
}
.disabled-button {
  @extend %disabled-button;
}
