$header-b-g: #27202b;
$light-gray: #dbd9dc;
$light-gray-border: #f1f1f1;
$main-blue: #66c7e5;
$main-hover-blue: #00a2d3;
$light-blue: #e3f5fd;
$blue-text: #096e8c;
$dark-gray-text: #383838;
$yellow: #f3cf3f;
$error: #a84c5b;
$gray-border: #dbdbdb;
$plans-box-shadow: 0 0 19px 2px rgba(0, 144, 206, 0.6);
$links-transition: 0.3s;

$header-height: 70px;
$footer-height: 100px;
$margin-left-reg-tips: 10px;

$montserat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex-center-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
%flex-center-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
%flex-column {
  display: flex;
  flex-direction: column;
}
%flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
%full-height {
  height: 100%;
}

%header-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 100px;
  height: 35px;
  @extend %flex-center;
  border-radius: 18px;
  border: 1px solid $light-gray;
  color: $light-gray;
  transition: $links-transition;
  cursor: pointer;
  &:last-child {
    margin-left: 15px;
  }
  &:hover {
    background-color: $yellow;
    border-color: $yellow;
    color: $dark-gray-text;
  }
  &:before {
    margin-right: 10px;
  }
  @media screen and (max-width: 520px) {
    width: 50px;
    font-size: 10px;
    border: none;
    &:before {
      display: none;
    }
  }
}

%header-links {
  padding: 15px 0;
  color: $light-gray;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  transition: $links-transition;
  display: block;
  &:hover {
    color: $yellow;
  }
  &:nth-child(2) {
    margin: 0 30px;
  }
  &.active {
    color: $yellow;
  }
}
%error {
  display: block;
  transform: scaleY(0);
  transition: $links-transition;
  order: 3;
  color: $error;
  font-size: 14px;
  font-weight: 600;
  margin-left: $margin-left-reg-tips;
  line-height: 0;
}
%shown {
  transform: scaleY(1);
  margin-top: $margin-left-reg-tips;
  line-height: 25px;
}
%reg-fields {
  @extend %flex-column;
  font-family: $montserat;
  margin-top: 15px;
  position: relative;
  .label {
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-left: $margin-left-reg-tips;
    order: 1;
  }
  .error {
    @extend %error;
  }
  .field {
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid $gray-border;
    border-radius: 5px;
    margin-top: 5px;
    padding: 14px;
    order: 2;
    &.ng-touched.ng-invalid,
    &.ng-invalid.instant-check{
      border-color: $error;
      & ~ .label {
        color: $error;
      }
      & ~ .error-shown {
        @extend %shown;
      }
    }
  }
  .input-with-spinner {
    padding-right: 50px;
  }
  .field-tip {
    order: 4;
    margin-left: $margin-left-reg-tips;
  }
  .input-range {
    order: 5;
  }
  .link {
    color: $main-blue;
    cursor: pointer;
    white-space: nowrap;
  }
}

%required-tip {
  font-weight: 200;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 18px;
}
%styled-select {
  position: relative;
  order: 2;
  .field {
    margin-top: 0;
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 5px 5px 0;
    height: 100%;
    width: 50px;
    color: white;
    @extend %flex-center;
    background-color: $main-blue;
    z-index: 1;
    pointer-events: none;
  }
}

%yellow-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  width: 100px;
  height: 35px;
  @extend %flex-center;
  border-radius: 18px;
  border: none;
  background-color: $yellow;
  color: $dark-gray-text;
  transition: $links-transition;
  cursor: pointer;
  &.disabled {
    background-color: $light-blue;
  }
}

%disabled-button {
  background-color: $light-gray;
}

%plan-title {
  display: block;
  font-size: 25px;
  font-weight: 500;
  color: $dark-gray-text;
  padding: 20px 0 10px;
  text-align: center;
  border-bottom: 1px solid $light-gray-border;
  margin: 0 10px 20px;
  .yellow {
    color: $yellow;
  }
}
%plan-points {
  @extend %flex-center;
  height: 50px;
  font-size: 14px;
  color: $blue-text;
  &:nth-child(even) {
    background-color: $light-blue;
    &.no-fill {
      background-color: white;
    }
    &.price {
      background-color: $main-blue;
    }
  }
  &.bold-title {
    padding: 0;
  }
}

%blue-titled-header {
  background-color: $main-blue;
  height: 150px;
  .title {
    color: white;
    font-size: 55px;
    font-weight: 400;
    font-family: $montserat;
  }
  @media screen and (max-width: 768px) {
    height: 100px;
    .title {
      font-size: 35px;
    }
  }
}
%spinner {
  position: relative;
  padding: 30px;
  animation: spinner 3s linear infinite ;
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    border-radius: 50%;
    background: transparent;
    animation: pseudo 1.5s linear infinite ;
  }
  &:before {
    border-left: 5px solid $main-hover-blue;
  }
  &:after {
    border-right: 5px solid $main-hover-blue;
  }
}
.spinner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255, 0.5);
  z-index: 1;
  @extend %flex-center;
  .spinner {
    @extend %spinner;
  }
}

.input-spinner {
  margin-top: 27px;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
  @extend %flex-center;
  .spinner {
    @extend %spinner;
    padding: 15px;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pseudo {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

