* {
  margin: 0;
  padding: 0;
  outline: none;
}
@font-face {
  font-family: 'icomoon';
  src: url('../icons/icomoon.eot?sq9e49');
  src: url('../icons/icomoon.eot?sq9e49#iefix') format('embedded-opentype'),
  url('../icons/icomoon.ttf?sq9e49') format('truetype'),
  url('../icons/icomoon.woff?sq9e49') format('woff'),
  url('../icons/icomoon.svg?sq9e49#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-smartshar:before {
  content: "\e900";
}
.icon-view:before {
  content: "\e901";
}
.icon-athom:before {
  content: "\e902";
}
.icon-tools:before {
  content: "\e903";
}
.icon-autotags:before {
  content: "\e904";
}
.icon-devices:before {
  content: "\e905";
}
.icon-lock:before {
  content: "\e906";
}
.icon-mousedown:before {
  content: "\e907";
}
.icon-visualsearch:before {
  content: "\e908";
}
.icon-chevron-down:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}
.icon-arrow-right:before {
  content: "\e90d";
}
/*global styles to use in html in whole project*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-center-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-column-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.flex-default-between {
  display: flex;
  justify-content: space-between;
}

.full-height {
  height: 100%;
}
.relative {
  position: relative;
}
.z-index {
  z-index: 1;
}
.margin-auto {
  margin: auto;
}
