@import "../../../../../external-css/common";

:host {
  display: block;
  flex: 1;
  font-family: $montserat;
}
.contacts-header {
  @extend %blue-titled-header;
}
.input-fields-group {
  max-width: 600px;
  margin: 50px auto;
}
.field-wrapper {
  @extend %reg-fields;
}
.button-wrap {
  margin-top: 20px;
}
.button {
  @extend %yellow-button;
  margin-left: auto;
}
.disabled-button {
  @extend %disabled-button;
}
.text-area {
  resize: none;
  min-height: 150px;
}
.required {
  @extend %required-tip;
}
.contact-data {
  font-size: 14px;
  color: $dark-gray-text;
  margin-top: 50px;
  text-align: center;
}
@media screen and (max-width: 350px) {
  .captcha-wrapp {
    transform: translateX(-6px);
  }
}
