<section class="container-fluid contacts-header">
  <div class="row full-height">
    <div class="col-sm-12 col-md-8 col-md-offset-2 full-height flex-center-left">
      <h2 class="title">Contact Us</h2>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row full-height">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <form class="input-fields-group" [formGroup]="contactForm" (ngSubmit)="formSubmit()" novalidate>
        <div class="field-wrapper">
          <input type="text" class="field" formControlName="first-name">
          <span class="label">First name*</span>
          <span class="error" [ngClass]="{'error-shown': showCurrentError('first-name', 'required')}">This field is required</span>
          <span class="error" [ngClass]="{'error-shown': showCurrentError('first-name', 'pattern')}">Wrong name format</span>
        </div>
        <div class="field-wrapper">
          <input type="text" class="field" formControlName="last-name">
          <span class="label">Last name*</span>
          <span class="error" [ngClass]="{'error-shown': showCurrentError('last-name', 'required')}">This field is required</span>
          <span class="error" [ngClass]="{'error-shown': showCurrentError('last-name', 'pattern')}">Wrong name format</span>
        </div>
        <div class="field-wrapper">
          <input type="email" class="field" formControlName="email">
          <span class="label">Your email*</span>
          <span class="error" [ngClass]="{'error-shown': showCurrentError('email', 'required')}">This field is required</span>
          <span class="error" [ngClass]="{'error-shown': showCurrentError('email', 'pattern')}">Wrong email format</span>
        </div>
        <div class="field-wrapper">
          <input type="text" class="field" formControlName="company">
          <span class="label">Company</span>
        </div>
        <div class="field-wrapper">
          <textarea class="field text-area" formControlName="message"></textarea>
          <span class="label">Your message*</span>
          <span class="error" [ngClass]="{'error-shown': showCurrentError('message', 'required')}">This field is required</span>
        </div>
        <p class="required">Required fields - *</p>
        <input type="checkbox" formControlName="recaptchaResolved" [hidden]="true">
        <div class="field-wrapper">
          <div class="margin-auto captcha-wrapp">
            <re-captcha (resolved)="resolved()" siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></re-captcha>
          </div>
        </div>
        <div class="button-wrap">
          <button type="submit" [disabled]="!contactForm.valid" [ngClass]="{'disabled-button': !contactForm.valid}" class="button margin-auto">Send</button>
        </div>
          <div class="row">
            <div class="col-xs-6">
              <p class="contact-data">
                Image Data Systems (UK) Ltd
                20-24 Kirby Street,
                London EC1N 8TS
              </p>
            </div>
            <div class="col-xs-6">
              <p class="contact-data">
                Email: info@image-data.com <br>
                Tel: +44 (0)207 336 7942
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <p class="contact-data">
                Registered in England No 2707151
                VAT No 605 9024 57
              </p>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
