<section class="container-fluid registration-header">
  <div class="row full-height">
    <div class="col-sm-12 col-md-8 col-md-offset-2 full-height flex-center-left">
      <h2 class="title">Registration</h2>
    </div>
  </div>
</section>
<div class="container-fluid registration-steps" *ngIf="isStepsShow">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4">
            <div class="step relative" routerLink="step-one" routerLinkActive="active-step">
              <span class="step-value">1</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="step relative" routerLink="step-two" routerLinkActive="active-step">
              <span class="step-value">2</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="step relative" routerLink="step-three" routerLinkActive="active-step">
              <span class="step-value">3</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row full-height">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
