@import "../../../../../external-css/common";

:host {
  display: block;
  flex: 1;
  font-family: $montserat;
}
.registration-header {
  @extend %blue-titled-header;
}
.registration-steps {
  margin-top: 50px;
}
.step {
  border: 1px solid $light-blue;
  height: 8px;
  margin: 0 -10px;
  cursor: pointer;
  z-index: 1;
}
.step-value {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: 46px;
  width: 46px;
  border-radius: 50%;
  border: 1px solid $light-blue;
  background-color: white;
  line-height: 46px;
  text-align: center;
  color: $light-blue;
  font-size: 24px;
  font-weight: 700;
}
.active-step {
  border: 1px solid $main-hover-blue;
  background-color: $main-hover-blue;
  .step-value {
    background-color: $main-hover-blue;
    border: 5px solid white;
    color: white;
    line-height: 36px;
  }
}

@media screen and (max-width: 520px) {
  .step-value {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  .active-step {
    .step-value {
      border: 2px solid white;
      line-height: 26px;
    }
  }
}
