@import "../../../../../external-css/common";

:host {
  display: block;
  flex: 1;
}
//-----welcome section-------
.welcome-section {
  background-color: $main-blue;
  color: white;
}
.with-img-bgr {
  background: url("../../../../../assets/images/background.svg") center center no-repeat;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
}
.title {
  font-family: $montserat;
  font-size: 45px;
  margin-top: 80px;
  font-weight: 400;
}
.bold-title {
  font-weight: 600;
  padding-right: 5px;
}
.subtitle {
  font-size: 22px;
  font-family: $open-sans;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 50px;
}
.description {
  margin-top: 20px;
  font-size: 16px;
  padding-left: 20px;
  position: relative;
  &:before {
    position: absolute;
    top: 2px;
    left: 0;
  }
}
.welcome-section-button {
  margin: 40px 0 0 20px;
  width: 290px;
  height: 50px;
  border: 2px solid #ffffff;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  font-family: $montserat;
  font-size: 24px;
  font-weight: 400;
  transition: $links-transition;
  cursor: pointer;
  @extend %flex-center;
  &:hover {
    color: $yellow;
    border: 2px solid $yellow;
  }
}
.mouse-icon-wrapper {
  margin-top: 10px;
}
.icon-mousedown {
  font-size: 50px;
  padding: 10px;
  animation: mouse 2s cubic-bezier(.17,.67,.49,.88) infinite ;
  &:before {
    color: white;
  }
}

@keyframes mouse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
//------icons section-------
.icons-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.icons-block-wrapper {
  @extend %flex-column-center;
  width: 100%;
  max-width: 200px;
  padding: 0 10px;
  min-height: 190px;
}
.icon-block-img {
  font-size: 70px;
  &:before {
    color: $main-blue;
  }
}
.icon-block-text {
  text-align: center;
  font-size: 16px;
  color: $dark-gray-text;
}
//------plans section-------
.plans-section {
  background-color: $main-blue;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: $montserat;
}
.pricing-title {
  @extend .title;
  color: white;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}
.plan-wrapper {
  width: 350px;
  min-width: 300px;
  min-height: 550px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.plan-title {
  @extend %plan-title;
}
.plan-points {
  @extend %plan-points;
}
.plan-button {
  @extend %flex-center;
  width: 90%;
  max-width: 290px;
  height: 60px;
  border-radius: 30px;
  background-color: $yellow;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 2px solid $yellow;
  color: $dark-gray-text;
  transition: $links-transition;
  cursor: pointer;
  .bold-title {
    padding-right: 5px;
    padding-left: 5px;
  }
  &:hover {
    border: 2px solid white;
    color: white;
    background-color: $main-hover-blue;
  }
}
//------members section-------
.members-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.happy-members {
  text-align: center;
  font-family: $montserat;
  font-size: 40px;
  font-weight: 300;
  color: $dark-gray-text;
  margin-bottom: 50px;
}
.member-wrapper {
  text-align: center;
}
.photo {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.member-name,
.member-description {
  color: $main-blue;
  font-size: 18px;
  margin-top: 15px;
  font-weight: 500;
  font-family: $montserat;
}
.member-description {
  font-size: 12px;
  margin-top: 5px;
}
.member-review {
  font-family: $open-sans;
  font-style: italic;
  margin-top: 5px;
  font-size: 12px;
}

@media screen and (max-width: 1200px) {
  //------icons section-------
  .mobiles-align {
    flex-wrap: wrap;
  }
  .icons-block-wrapper {
    margin: 10px 0;
  }
  //-------plans section---------
  .plan-wrapper {
    width: 100%;
    min-height: 345px;
    margin-bottom: 60px;
  }
  .plan-points {
    width: 50%;
    float: left;
    border: 1px solid white;
    background-color: $light-blue;
    border-radius: 5px;
  }
}

@media screen and (max-width: 992px) {
  //-------welcome section--------
  .with-img-bgr {
    background-size: 220%;
  }
  .title {
    margin-top: 30px;
  }
  .subtitle {
    margin-bottom: 30px;
  }
  .icon-mousedown {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 42px;
  }
  //--------icons section--------
  .icons-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  //-------plans section---------
  .pricing-title {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  //-------welcome section--------
  .with-img-bgr {
    background-size: 220%;
  }
  .title {
    font-size: 30px;
    text-align: center;
  }
  .subtitle {
    font-size: 18px;
    text-align: center;
    margin: 15px 0;
  }
  .description {
    font-size: 14px;
    margin-top: 10px;
  }
  .welcome-section-button {
    margin: 40px auto 20px;
    width: 200px;
  }
  .mouse-icon-wrapper {
    display: none;
  }
  //--------icons section--------
  .icons-block-wrapper {
    min-height: 130px;
  }
  .icon-block-img {
    font-size: 50px;
  }
  .icon-block-text {
    font-size: 12px;
  }
//-------plans section-----
  .plans-section {
    padding-top: 20px;
    padding-bottom: 0;
  }
//-------members-section-----
  .members-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .happy-members {
    margin-bottom: 0;
  }
  .member-wrapper {
    margin-top: 20px;
  }
}

@media screen and (max-width: 520px) {
  //  -------plans section-----
  .plan-wrapper {
    padding-bottom: 40px;
    min-height: 400px;
  }
  .plan-points {
    width: 100%;
    float: none;
    background-color: white;
  }
}
