<section class="container-fluid welcome-section">
  <div class="row full-height relative">
    <div class="col-sm-12 col-md-5 col-md-offset-2 full-height z-index">
        <h2 class="title">Welcome to <span class="bold-title">MyIDS</span></h2>
        <h5 class="subtitle">A smarter way to manage visual content.</h5>
        <p class="description icon-arrow-right"><span class="bold-title">MyIDS</span>is the first Artificial Intelligence driven service specifically designed
          to let you store, search and share your images and videos</p>
        <p class="description">Give your team a smarter way to manage visual content.</p>
        <a class="welcome-section-button" scrollTo href="#plans-section-id">Join Us</a>
        <div class="mouse-icon-wrapper flex-center-right relative">
          <span class="icon-mousedown"></span>
        </div>
    </div>
    <div class="col-xs-12 col-md-5 full-height with-img-bgr"></div>
  </div>
</section>
<div class="container-fluid icons-section">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 flex-center mobiles-align">
      <div class="icons-block-wrapper">
        <i class="icon-block-img icon-smartshar"></i>
        <p class="icon-block-text">
          <span class="bold-title">Smart Sharing – </span>
          Unlimited
          collections and PDF contact
          sheets. Instant markup.
        </p>
      </div>

      <div class="icons-block-wrapper">
        <i class="icon-block-img icon-devices"></i>
        <p class="icon-block-text">
          Access from
          <span class="bold-title">anywhere</span>
        </p>
      </div>

      <div class="icons-block-wrapper">
        <i class="icon-block-img icon-visualsearch"></i>
        <p class="icon-block-text">
          Lightning fast text or AI
          based
          <span class="bold-title">VisualSearchTM</span>
        </p>
      </div>

      <div class="icons-block-wrapper">
        <i class="icon-block-img icon-lock"></i>
        <p class="icon-block-text">
          <span class="bold-title">Secure ‐</span>
          IP locked or 2FA
          enabled access
        </p>
      </div>

      <div class="icons-block-wrapper">
        <i class="icon-block-img icon-autotags"></i>
        <p class="icon-block-text">
          <span class="bold-title">AutoTagTM –</span>
          Let our AI keyword
          your images automatically –
          no more typing!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid plans-section" id="plans-section-id">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="pricing-title ">Plans and Pricing</h2>
          </div>
          <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1 col-lg-4 col-lg-offset-0 flex-center">
            <div class="plan-wrapper relative">
              <div class="plan-title">
                MyIDS <span class="yellow">Basic</span>
              </div>
                <div class="plan-points bold-title">
                  Team size = up to 5
                </div>
                <div class="plan-points">
                  Single administrator access
                </div>
                <div class="plan-points">
                  Unlimited Collections
                </div>
                <div class="plan-points">
                  Contact Sheets
                </div>
                <div class="plan-points">
                  Company branding
                </div>
              <span class="plan-button" [routerLink]="['../registration']" [queryParams]="{plan: 'basic'}">
                Signup for MyIDS <span class="bold-title">Basic</span> {{pricing.basic/100}} $
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1 col-lg-4 col-lg-offset-0 flex-center">
            <div class="plan-wrapper relative">
              <div class="plan-title">
                MyIDS <span class="yellow">Plus</span>
              </div>
              <div class="plan-points bold-title">
                Team size = up to 20
              </div>
              <div class="plan-points">
                Multiple administrator access
              </div>
              <div class="plan-points">
                Unlimited Collections
              </div>
              <div class="plan-points">
                Contact Sheets
              </div>
              <div class="plan-points">
                Company branding
              </div>
              <div class="plan-points">
                IDS AutoTags
              </div>
              <div class="plan-points">
                Visual Search
              </div>
              <div class="plan-points">
                Watermarking
              </div>
              <span class="plan-button" [routerLink]="['../registration']" [queryParams]="{plan: 'plus'}">
                Signup for MyIDS <span class="bold-title">Plus</span> {{pricing.plus/100}} $
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1 col-lg-4 col-lg-offset-0 flex-center">
            <div class="plan-wrapper relative">
              <div class="plan-title">
                MyIDS <span class="yellow">Enterprise</span>
              </div>
              <div class="plan-points bold-title">
                Team size = up to 1000
              </div>
              <div class="plan-points">
                Multiple administrator access
              </div>
              <div class="plan-points">
                Unlimited Collections
              </div>
              <div class="plan-points">
                Contact Sheets
              </div>
              <div class="plan-points">
                Company branding
              </div>
              <div class="plan-points">
                IDS AutoTags
              </div>
              <div class="plan-points">
                Visual Search
              </div>
              <div class="plan-points">
                Watermarking
              </div>
              <span class="plan-button" [routerLink]="['../registration']" [queryParams]="{plan: 'enterprise'}">
                Signup for MyIDS <span class="bold-title">Enterprise</span> {{pricing.enterprise/100}} $
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid members-section">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 flex-center">
            <p class="happy-members">Happy Members</p>
          </div>
          <div class="col-xs-12 col-sm-4 flex-center">
            <div class="member-wrapper flex-column-center">
              <img class="photo" src="../../../../../assets/images/imgsample.png" alt="">
              <span class="member-name">Lorem Ipsum</span>
              <span class="member-description">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit</span>
              <span class="member-review">“Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna.” </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 flex-center">
            <div class="member-wrapper flex-column-center">
              <img class="photo" src="../../../../../assets/images/imgsample.png" alt="">
              <span class="member-name">Lorem Ipsum</span>
              <span class="member-description">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit</span>
              <span class="member-review">“Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna.” </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 flex-center">
            <div class="member-wrapper flex-column-center">
              <img class="photo" src="../../../../../assets/images/imgsample.png" alt="">
              <span class="member-name">Lorem Ipsum</span>
              <span class="member-description">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit</span>
              <span class="member-review">“Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna.” </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
