<form class="input-fields-group" [formGroup]="stepOneForm" (ngSubmit)="formSubmit()" novalidate>
  <div class="field-wrapper">
    <input type="text" formControlName="first-name" class="field" autocomplete="nope">
    <span class="label">First name*</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('first-name', 'required')}">This field is required</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('first-name', 'pattern')}">Wrong name format</span>
  </div>
  <div class="field-wrapper">
    <input type="text" formControlName="last-name" class="field" autocomplete="nope">
    <span class="label">Last name*</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('last-name', 'required')}">This field is required</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('last-name', 'pattern')}">Wrong name format</span>
  </div>
  <div class="field-wrapper">
    <input type="text" formControlName="team" class="field" [ngClass]="{'instant-check': isTeamExist, 'input-with-spinner': checkInProcess.isTeamExist}" autocomplete="nope">
    <span class="label">Team name*</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('team', 'required')}">This field is required</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('team', 'pattern')}">Wrong team name format</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('team', 'maxlength')}">Team name cannot be longer than 15 characters</span>
    <p class="error" [ngClass]="{'error-shown': showCurrentError('team', 'exists')}">
      This team name is already used.
    </p>
    <div class="input-spinner" *ngIf="checkInProcess.isTeamExist">
      <div class="spinner"></div>
    </div>
  </div>
  <div class="field-wrapper">
    <input type="text" formControlName="email" class="field" [ngClass]="{'instant-check': isEmailExist, 'input-with-spinner': checkInProcess.isEmailExist}" autocomplete="on">
    <span class="label">Email*</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('email', 'required')}">This field is required</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('email', 'pattern')}">Wrong email format</span>
    <p class="error" [ngClass]="{'error-shown': showCurrentError('email', 'exists')}">
      This email is already used. Please <span class="link" routerLink="../../login">Login</span> or <span class="link">Reset Password</span>
    </p>
    <div class="input-spinner" *ngIf="checkInProcess.isEmailExist">
      <div class="spinner"></div>
    </div>
  </div>
  <div class="field-wrapper">
    <input type="email" formControlName="confirm-email" class="field" appDisableControl [disableControl]="!stepOneForm.controls['email'].valid" autocomplete="nope">
    <span class="label">Confirm email*</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('confirm-email', 'required')}">This field is required</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('confirm-email', 'identical')}">Emails are not identicals</span>
  </div>
  <div class="field-wrapper">
    <input type="tel" formControlName="phone" class="field"
           placeholder="+12 (123) 123-4567"
           [textMask]="{mask: mask}"
           autocomplete="nope">
    <span class="label">Phone number</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('phone', 'pattern')}">Wrong phone format</span>
  </div>
  <div class="field-wrapper">
    <input type="text" formControlName="company" class="field" autocomplete="nope">
    <span class="label">Your company</span>
  </div>
  <div class="field-wrapper">
    <div class="styled-select icon-chevron-down">
      <select class="field" formControlName="country" (change)="contryChanged()">
        <option *ngFor="let country of countries" [value]="country.name">{{country.display}}</option>
      </select>
    </div>
    <span class="label">Country</span>
  </div>

  <div class="field-wrapper">
    <input type="text" formControlName="city" class="field" autocomplete="nope">
    <span class="label">City*</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('city', 'required')}">This field is required</span>
  </div>
  <div class="field-wrapper">
    <input type="text" formControlName="address" class="field" autocomplete="nope">
    <span class="label">Address*</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('address', 'required')}">This field is required</span>
  </div>
  <div class="field-wrapper">
    <input type="text" formControlName="postcode" class="field" autocomplete="nope">
    <span class="label">Post code*</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('postcode', 'required')}">This field is required</span>
  </div>

  <div class="field-wrapper">
    <input type="password" formControlName="password" class="field">
    <span class="label">Password*</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('password', 'required')}">This field is required</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('password', 'minlength')}">Password must be at least 8 characters</span>
  </div>
  <div class="field-wrapper">
    <input type="password"
           formControlName="confirm-password"
           class="field"
           appDisableControl
           [disableControl]="!stepOneForm.controls['password'].valid"
           autocomplete="nope">
    <span class="label">Confirm password*</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('confirm-password', 'required')}">This field is required</span>
    <span class="error" [ngClass]="{'error-shown': showCurrentError('confirm-password', 'identical')}">Passwords are not identicals</span>
  </div>
  <p class="required">Required fields - *</p>
  <div class="button-wrap">
    <button type="submit" [disabled]="!stepOneForm.valid" [ngClass]="{'disabled-button': !stepOneForm.valid}" class="button">Next</button>
  </div>
</form>
