@import "../../../../../external-css/common";

:host {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}
.input-fields-group {
  max-width: 600px;
  margin: auto;
}
.field-wrapper {
  @extend %reg-fields;
}
.styled-select {
  @extend %styled-select;
}
.required {
  @extend %required-tip;
}
.button-wrap {
  margin-top: 20px;
}
.button {
  @extend %yellow-button;
  margin-left: auto;
}
.disabled-button {
  @extend %disabled-button;
}
